include ../components/head.pug
body(class="container")
    include ../components/nav.pug
    main
        h1 Credential Signup
        form(hx-post="/signup")
            input(type="text" name="name" placeholder="Name" minlength="1" required)
            input(type="email" name="email" placeholder="Email" pattern=".+@.+" required)
            input(type="password" name="password" placeholder="Password" minlength="1" required)
            input(type="password" name="passwordConfirm" placeholder="Password Confirmation" minlength="1" required)
            button(type="submit") Signup 
